extends ../layouts/layout

block title
  | iq-digital

block content
  .recaptcha
    .button.button_base Перейти на главную страницу
  script(src="https://www.google.com/recaptcha/enterprise.js?render=6LfQu5YeAAAAABZFVYnaNa4-QI1CAo_YEckQCIPc" async)
