extends ../layouts/layout

block title
  | iq-digital home

block content
  body
    include ../layouts/header
    main.wrapper
      include ../components/sections/firstscreen
      include ../components/sections/service
      include ../components/sections/projects
      include ../components/sections/about
      include ../components/sections/statistics
      include ../components/sections/blog
      include ../components/sections/contacts
      include ../components/sections/quotes
      include ../components/sections/partners
      include ../components/sections/feedback
    include ../layouts/footer

