include ../../mixins/about-statistics-item

.about
  .about__square
  .container
    .about__video
  .about__statistics
    +about-statistics-item({})
    +about-statistics-item({})
    +about-statistics-item({})
    +about-statistics-item({})

