.about.align-section#about
  .container
    .decor__square
    .wrap
      .about__video
        iframe.about__video-player(
          width="560"
          height="315"
          src="https://www.youtube.com/embed/dQw4w9WgXcQ?enablejsapi=1"
          title="YouTube video player"
        )
        .about__video-btn
          .about__video-btn-icon
      .about__text
        .title The thing about us is #[span we think big, huge]
        ul
          li If the path is beautiful, let us not ask where it leads
          li my religion is very simple. my religion is kindness
          li each of us has within our power the ability to disrupt
        a.button.button_base(href="javascript:") Learn more
