include ../../mixins/blog-preview

.blog
  .container
    .blog__title
    +blog-preview({ active: true })
    +blog-preview({ active: false })
    +blog-preview({ active: false })
    +blog-preview({ active: false })
    +blog-preview({ active: false })
    +blog-preview({ active: false })
