include ../../mixins/blog-preview

.blog.align-section
  .container
    .title From our #[span blog]
    .blog__content
      +blog-preview({
        active: true,
        title: 'I think night-time is dark so you can imagine with less distraction',
        topic: 'Website design',
        date: 'Thursday, 26 March 2020',
        text: `The engine that gives its mysterious inner life to a work of art must be
         the subterranean expression of a wish, working its way to the surface of a narrative.
         change is an easy panacea. it takes character to stay in one…`
      })
      +blog-preview({
        active: false,
        title: 'The individual is born of nature, but the artist is born of that individual',
        topic: 'Design',
        date: ' 15 July 2020',
        text: ''
      })
      +blog-preview({
        active: false,
        title: 'A life without it is like a sunless garden when the flowers are dead',
        topic: 'Website',
        date: '',
        text: ''
      })
      +blog-preview({
        active: false,
        title: 'All sorrows can be borne if they can be put into a story',
        topic: 'Program',
        date: '',
        text: ''
      })
      +blog-preview({
        active: false,
        title: 'Love is friendship set on fire. certain thoughts are prayers',
        topic: 'Testing',
        date: '',
        text: ''
      })
      +blog-preview({
        active: false,
        title: 'All sorrows can be borne if they can be put into a story',
        topic: 'Program',
        date: '',
        text: ''
      })
