.contacts
  .container
    .contacts__section
      .contacts__section-name
      .contacts__section-position
      include ../socials
      .contacts__section-text
        p Saturday found him for the first time strolling alone through zurich, breathing in the heady smell of his freedom. new adventures hid around each corner.
        p The future was again a secret. now, what was tiring had disappeared and only the beauty remained.
    .contacts__gallery
      .swiper
        .swiper-wrapper
          .swiper-slide
            img(src="" alt="")
          .swiper-slide
            img(src="" alt="")
          .swiper-slide
            img(src="" alt="")
          .swiper-slide
            img(src="" alt="")
        .swiper-button-next
          img(src="" alt="")
        .swiper-button-prev
          img(src="" alt="")

