include ../../mixins/firstscreen-slide

.firstscreen
  .swiper-container
    .swiper-wrapper
      +firstscreen-slide({})
      +firstscreen-slide({})
    .swiper-button-next
      img(src="" alt="")
    .swiper-button-prev
      img(src="" alt="")
