include ../../mixins/firstscreen-slide

.firstscreen.swiper.banner.align-section
  .swiper-wrapper
    +firstscreen-slide({ image: require('@/assets/img/cat.jpg') })
    +firstscreen-slide({ image: require('@/assets/img/flowers.jpg') })
    +firstscreen-slide({ image: require('@/assets/img/music.jpg') })
    +firstscreen-slide({ image: require('@/assets/img/people.jpg') })
  include ../swiper-arrow-hr
