include ../../mixins/firstscreen-slide

.firstscreen.swiper.banner.align-section
  .swiper-wrapper
    +firstscreen-slide({})
    +firstscreen-slide({})
    +firstscreen-slide({})
    +firstscreen-slide({})
  include ../swiper-arrow-hr
