.feedback
  .container
    .feedback__square
    .feedback__content
      .feedback__content-text
        .feedback__content-text-title
        .feedback__content-text-desc
      form.feedback__content-form
        input
        input
        textarea
        button(type="submit" disabled)
