.partners
  .container
    .partners__logo
      img(src="" alt="")
    .partners__logo
      img(src="" alt="")
    .partners__logo
      img(src="" alt="")
    .partners__logo
      img(src="" alt="")
    .partners__logo
      img(src="" alt="")
