.projects
  .decor__circle
  .decor__square
  .container
    .projects__title
    span.projects__line
    .projects__subtitle
    .projects__desc
    .projects__gallery
      .swiper-container
        .swiper-wrapper
          .swiper-slide
          .swiper-slide
          .swiper-slide
        .steps__process


