include ../../mixins/quotes-item

.quotes.swiper.banner
  .swiper-wrapper
    +quotes-item({
      creator: 'Anna Karenina',
      position: 'UX/UI Designer',
      text: `Saturday found him for the first time strolling alone through zurich,
        breathing in the heady smell of his freedom. new adventures hid around
        each corner. The future was again a secret. now, what was tiring`
    })
    +quotes-item({
      creator: 'Лао Цзы',
      position: 'Философ',
      text: `Если не знаешь, каковы твои дети, посмотри на их друзей`
    })
    +quotes-item({
      creator: 'Майкл Джордан',
      position: 'Great Person',
      text: `За свою карьеру я пропустил более 9000 бросков, проиграл почти 300 игр.
        26 раз мне доверяли сделать финальный победный бросок, и я промахивался. Я терпел поражения снова,
        и снова, и снова. И именно поэтому я добился успеха.`
    })
    +quotes-item({
      creator: 'Лао Цзы',
      position: 'Философ',
      text: `Если не знаешь, каковы твои дети, посмотри на их друзей`
    })
  include ../swiper-arrow-hr
