include ../../mixins/quotes-item

.quotes
  .swiper-container
    .swiper-wrapper
      +quotes-item({})
      +quotes-item({})
      +quotes-item({})
      +quotes-item({})
    .swiper-button-next
      img(src="" alt="")
    .swiper-button-prev
      img(src="" alt="")
