include ../../mixins/quotes-item

.quotes.swiper.banner
  .swiper-wrapper
    +quotes-item({
      creator: 'Anna Karenina',
      position: 'UX/UI Designer',
      text: `Saturday found him for the first time strolling alone through zurich,
        breathing in the heady smell of his freedom. new adventures hid around
        each corner. The future was again a secret. now, what was tiring`
    })
    +quotes-item({
      creator: 'Lao Tzu',
      position: 'Philosopher',
      text: `Knowing others is intelligence`
    })
    +quotes-item({
      creator: 'Michael Jordan',
      position: 'Great Person',
      text: `I've missed over 9,000 shots in my career, lost nearly 300 games.
        26 times I've been trusted to make the final game-winning roll and missed. I failed again
        and again and again. And that is why I have been successful.`
    })
    +quotes-item({
      creator: 'Lao Tzu',
      position: 'Philosopher',
      text: `If you don't know what your kids are like, look at their friends.`
    })
  include ../swiper-arrow-hr
