include ../../mixins/services-item

.services
  .container
    .services__slogan
      b We’re always ready for
        span challenges
    +services-item({ animation: 'fade-up' })
    +services-item({ animation: 'fade-up' })
    +services-item({ animation: 'fade-up' })
    +services-item({ animation: 'fade-up' })
