include ../../mixins/services-item

.services
  .container
    .services__slogan
      span We’re always ready for challenges
    +services-item({})
    +services-item({})
    +services-item({})
    +services-item({})
