include ../../mixins/services-item

.services.align-section
  .container
    .title We’re always ready for #[span challenges]
    +services-item({ animation: 'fade-up' })
    +services-item({ animation: 'fade-up' })
    +services-item({ animation: 'fade-up' })
    +services-item({ animation: 'fade-up' })
