include ../../mixins/statistics-item

.statistics.align-section
  .container
    +statistics-item({ num: '124', caption: 'Complete projects' })
    +statistics-item({ num: '99%', caption: 'Satisfied Clients' })
    +statistics-item({ num: '235', caption: 'Success Campaign' })
    +statistics-item({ num: '2345', caption: 'Cups of Coffee' })
