include ../../mixins/statistics-item

.statistics
  .container
    +statistics-item({ num: '124', caption: 'Complete projects' })
    +statistics-item({ num: '124', caption: 'Complete projects' })
    +statistics-item({ num: '124', caption: 'Complete projects' })
    +statistics-item({ num: '124', caption: 'Complete projects' })
