include ../../mixins/statistics-item

.statistics.align-section
  .container
    +statistics-item({ num: '124', caption: 'Complete projects' })
    +statistics-item({ num: '124', caption: 'Complete projects' })
    +statistics-item({ num: '124', caption: 'Complete projects' })
    +statistics-item({ num: '124', caption: 'Complete projects' })
