footer.footer
  .container
    .footer__brief
      .footer__brief-logo
      .footer__brief-desc
      .footer__brief-contacts
        .footer__brief-contacts-item
          .footer__brief-contacts-item-icon
            img(src="" alt="")
          aa(href="javascript:")
        .footer__brief-contacts-item
          .footer__brief-contacts-item-icon
            img(src="" alt="")
          aa(href="javascript:")
    .footer__column
      .footer__column-title
      a(href="javascript:")
      a(href="javascript:")
      a(href="javascript:")
      a(href="javascript:")
    .footer__column
      .footer__column-title
      a(href="javascript:")
      a(href="javascript:")
      a(href="javascript:")
      a(href="javascript:")
    .footer__column
      a(href="javascript:")
      .footer__column-title
      include ../components/socials

