footer.footer
  .container
    .footer__column.footer__column_brief
      a.logo(href="javascript:") iq-digital.site
      p.footer__brief-desc Funding freemium long tail hypotheses first mover advantage assets ownership niche market startup investor. Burn rate termsheet leverage backing stock channels long tail twitter conversion.
      .footer__brief-contacts
        a.footer__brief-contacts-item(href="javascript:") agensi@mail.com
          .footer__brief-contacts-item-icon
            img(src="" alt="")
        a.footer__brief-contacts-item(href="javascript:") + 12 3456 7890
          .footer__brief-contacts-item-icon
            img(src="" alt="")
    .footer__column
      .footer__column-title Services
      a(href="javascript:") Digital Marketing
      a(href="javascript:") Branding
      a(href="javascript:") Market Promotion
      a(href="javascript:") Digital Campaign
    .footer__column
      .footer__column-title About Us
      a(href="javascript:") Milestone
      a(href="javascript:") Check Our Pricing Plan
      a(href="javascript:") Expert Team
      a(href="javascript:") Our Exciting News
    .footer__column
      .footer__column-title Address
      a(href="javascript:") 123 Lorem Ipsum Street  Jakarta, Indonesia
      include ../components/socials

