header.header
  .container
    .header__logo
      span iq-digital.site
    .header__menu
      a(href="javascript:")
      a(href="javascript:")
      a(href="javascript:")
      a(href="javascript:")
