@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.about
  margin-top: 80px

  &__video
    position: relative
    width: 50%

    &-player
      border: none
      position: relative
      z-index: 1

    &-btn
      position: absolute
      z-index: 2
      top: 0
      right: -3px
      bottom: 3px
      left: 0

      &:before
        content: ''
        position: absolute
        width: 100%
        height: 100%
        cursor: pointer
        background: $base
        opacity: 0.4
        z-index: 0

      &:after
        content: ''
        position: absolute
        top: calc(50% - 40px)
        left: calc(50% - 40px)
        background: $base-lightest
        border-radius: 50%
        width: 80px
        height: 80px
        display: block
        z-index: 1

      &_hide
        z-index: 0

