@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.statistics
  background: $base-dark

  .container
    display: flex
    justify-content: space-between
    align-items: normal

    &:hover .statistics__item
      &,
      &:nth-child(3)
        .statistics__item-num
          color: $accent

        &:after
          top: 0
          bottom: 0
          background: $base-dark

      &:hover
        .statistics__item-num
          color: $base-lightest

        &:after
          transition: .4s ease-in-out
          background: $accent
          top: -10px
          bottom: -10px
