@use '../../abstracts/variables' as *
@use '../../abstracts/mixins' as *

.statistics
  background: $base-dark

  .container
    display: flex
    align-items: center
    justify-content: space-between
