mixin firstscreen-slide(params)
  .firstscreen__slide.swiper-slide
    .container
      .firstscreen__slide-text
        .firstscreen__slide-text-title Grow your brand through digital
        .firstscreen__slide-text-desc If the path is beautiful, let us not ask where it leads. my religion is very simple. my religion is kindness. each of us has within our power the ability to disrupt
        a.button.button_base(href="javascript:") Learn more
    .firstscreen__slide-image
      img(src=params.image alt="")
