mixin firstscreen-slide()
  .firstscreen__slide.swiper-slide
    .container
      .firstscreen__slide-text
        .firstscreen__slide-text-title
        .firstscreen__slide-text-desc
        a.button(href="javascript:")
    .firstscreen__slide-image
      img(src=require('@/assets/img/cat.jpg') alt="")
