mixin projects-slide()
  .projects__slide.swiper-slide
    .projects__slide-image.projects__slide-image_square
      img(src=require('@/assets/img/cat.jpg') alt="")
    .projects__slide-image.projects__slide-image_vertical
      img(src=require('@/assets/img/cat.jpg') alt="")
    .projects__slide-image.projects__slide-image_horizontal
      img(src=require('@/assets/img/cat.jpg') alt="")
