mixin projects-slide(params)
  .projects__slide.swiper-slide
    .projects__slide-image.projects__slide-image_square
      img(src=params.photoOne alt="")
    .projects__slide-image.projects__slide-image_vertical
      img(src=params.photoTwo alt="")
    .projects__slide-image.projects__slide-image_horizontal
      img(src=params.photoThree alt="")
