mixin quotes-item(params)
  .quotes__item.swiper-slide
    .container
      .quotes__item-image
        img(src="" alt="")
      .quotes__item-text #{params.text}
      .quotes__item-creator #{params.creator}
      .quotes__item-position #{params.position}

