@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

.services__item
  position: relative
  background: $base-dark
  width: 42%
  box-sizing: border-box
  padding: 40px

  &-icon
    position: absolute
    background: $accent
    border-radius: 50%
    width: 122px
    height: 122px
    top: 30px
    transition: all .4s ease-in-out
    cursor: pointer
    transform: rotateY(0deg)
    box-sizing: border-box
    padding: 33px
    +screen($mobile-sm)
      width: 50px
      height: 50px
      padding: 10px

    img
      width: 100%

    &:hover
      transition: all .4s ease-in-out
      transform: rotateY(360deg)

  &:nth-child(2n+1)
    margin-top: 80px
    margin-bottom: 0
    padding-right: 88px

    .services__item-icon
      right: -61px
      +screen($mobile-sm)
        right: 15px
        top: 15px

  &:nth-child(2n)
    margin-top: 0
    margin-bottom: 80px
    padding-left: 88px

    .services__item-icon
      left: -61px
      +screen($mobile-sm)
        left: auto
        right: 15px
        top: 15px

  &:nth-child(2n+1),
  &:nth-child(2n)
    +screen($tablet)
      width: auto
      margin: 0 30px 60px
    +screen($mobile-sm)
      margin: 0 0 30px
      padding: 20px

  &-content
    color: $base-lightest

    &-caption
      +font(34px, 51px, 900)
      +screen($mobile-sm)
        width: 80%


