@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

html
  scroll-behavior: smooth

body
  height: 100%
  width: 100%
  font-family: $font
  color: $base-dark
  background: $base-lightest

  &::-webkit-scrollbar
    width: 8px
    height: 8px
    background: $base-light
    +screen($tablet)
      display: none

    &-thumb
      background: darken($base, 10%)
      border-radius: 4px
      transition: all .3s

      &:hover
        background: darken($base, 15%)

.wrapper
  max-width: 1920px
  width: 100%
  margin: 0 auto
  position: relative

.container
  position: relative
  box-sizing: border-box
  width: 100%
  max-width: 1440px
  margin: 0 auto
  padding: 0 163px

a
  text-decoration: none

.decor
  &__square,
  &__circle
    background: $base-dark
    position: absolute
    z-index: 0
    opacity: 0.05

  &__square
    width: 370px
    height: 255px

  &__circle
    border-radius: 50%
    height: 550px
    width: 550px

.align-section
  margin-bottom: 120px

.title
  +font(48px, 54px, 900)

  span
    color: $accent

.logo
  +font(34px, 51px, 900)

.button
  width: fit-content
  box-sizing: border-box
  padding: 10px 20px
  text-align: center
  +font(11px, 24px, 700)
  letter-spacing: 3.08px
  text-transform: uppercase
  border: none
  outline: none
  margin: 38px 0 20px auto
  display: block
  cursor: pointer
  transition: .3s

  &_base
    background: $base-dark
    color: $base-lightest

    &:hover
      background: lighten($base-dark, 10%)

    &:disabled,
    &:disabled:hover
      background: $base

  &_accent
    background: $accent
    color: $base-dark

    &:hover
      background: lighten($accent, 10%)

    &:disabled,
    &:disabled:hover
      background: $base

.swiper-button-next,
.swiper-button-prev
  &:after
    content: none

.swiper-horizontal.banner
  .swiper-button-next,
  .swiper-button-prev
    background: $base-lightest
    width: 100px
    height: 100px
    border-radius: 50%
    top: calc(50% - 50px)

    img
      transition: all .3s

  .swiper-button-prev
    left: -50px

    img
      transform: rotate(180deg)
      margin-left: 30px

  .swiper-button-next
    right: -50px

    img
      margin-right: 30px

  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled
    opacity: 1

    img
      opacity: 0.5






