@use '../abstracts/variables' as *
@use '../abstracts/mixins' as *

html
  scroll-behavior: smooth
  height: 100%

.recaptcha
  margin: 100px auto

  .button
    margin: 20px auto

body
  width: 100%
  display: flex
  flex-direction: column
  font-family: $font
  color: $base-dark
  background: $base-lightest

  &::-webkit-scrollbar
    width: 8px
    height: 8px
    background: $base-light
    +screen($tablet)
      display: none

    &-thumb
      background: darken($base, 10%)
      border-radius: 4px
      transition: all .3s

      &:hover
        background: darken($base, 15%)

.header
  flex: 0 0 auto

.footer
  flex: 0 0 auto

.wrapper
  flex: 1 0 auto
  max-width: 1920px
  width: 100%
  min-height: 800px
  margin: 0 auto
  position: relative

.wrap
  display: flex
  +screen($tablet)
    flex-wrap: wrap
  +screen($mobile)
    flex-direction: column

.container
  position: relative
  box-sizing: border-box
  width: 100%
  max-width: 1440px
  margin: 0 auto
  padding: 0 163px
  +screen($desktop-sm)
    padding-right: 20px
    padding-left: 20px

a
  text-decoration: none
  color: $base-dark

p
  +font(15px, 24px)

ul
  padding-left: 20px

  li
    +font(15px, 24px)
    margin: 0 0 10px

.decor
  &__square,
  &__circle
    background: $base-dark
    position: absolute
    z-index: -1
    opacity: 0.05

    &_accent
      background: $accent
      opacity: 1

  &__square
    width: 370px
    height: 255px

  &__circle
    border-radius: 50%
    height: 550px
    width: 550px

.align-section
  margin-bottom: 120px
  +screen($tablet)
    margin-bottom: 60px

.title
  +font(48px, 54px, 900)
  +screen($mobile)
    +font(30px, 36px, 900)

  span
    color: $accent

.logo
  +font(34px, 51px, 900)

.button
  width: fit-content
  box-sizing: border-box
  padding: 10px 20px
  text-align: center
  +font(11px, 24px, 700)
  letter-spacing: 3.08px
  text-transform: uppercase
  border: none
  outline: none
  display: block
  cursor: pointer
  transition: .3s

  &_base
    background: $base-dark
    color: $base-lightest

    &:hover
      background: lighten($base-dark, 15%)

    &:disabled,
    &:disabled:hover
      background: $base

  &_accent
    background: $accent
    color: $base-dark

    &:hover
      background: lighten($accent, 15%)

    &:disabled,
    &:disabled:hover
      background: $base

.swiper-button-next,
.swiper-button-prev
  &:after
    content: none

.swiper-button-prev svg
  transform: rotate(180deg)
  margin-top: 2px

.swiper-horizontal.banner
  .swiper-button-next,
  .swiper-button-prev
    background: $base-lightest
    width: 100px
    height: 100px
    border-radius: 50%
    top: calc(50% - 50px)
    +screen($tablet)
      width: 60px
      height: 60px
      top: calc(50% - 30px)

    img
      transition: all .3s
      width: 10px

  .swiper-button-prev
    left: -50px
    +screen($tablet)
      left: -30px

    img
      transition: none
      transform: rotate(180deg)
      margin-left: 30px
      +screen($tablet)
        margin-left: 15px

  .swiper-button-next
    right: -50px
    +screen($tablet)
      right: -30px

    img
      margin-right: 30px
      +screen($tablet)
        margin-right: 15px

  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled
    opacity: 1

    img
      opacity: 0.5


